@model CafeWebApplication.Table

@{
    ViewData["Title"] = "Details";
}

<h3>Деталі про столик "@Model.Number"</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cafe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cafe.Address)
        </dd>
    </dl>
</div>

@if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Змінити</a> <br />
        <a asp-action="Index">Назад</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Назад</a>
    </div>
}
